@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-blue-color: #072f5f;
    --primary-gold-color: #FFC107;
    --first-letters: #2c3968;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* ------------------- Navigation Bar -------------------------------- */
.navigation-container {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navigation-container>ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}

.navigation-container li {
    list-style: none;
}

.navigation-container li>a {
    position: relative;
    text-decoration: none;
    padding: 19px;
    box-sizing: border-box;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--primary-blue-color);
}

.navigation-container li>a:after {
    content: "";
    background-color: var(--primary-gold-color);
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.navigation-container li>a:hover:after {
    transition-duration: 300ms;
    width: 100%;
}

.navigation-container li>a:hover {
    color: var(--primary-blue-color);
}

.logo-container img {
    margin-top: 18px;
}

.logo-container img {
    width: 100px;
    height: 100px;
}

.menu-container {
    display: none;
}

/* ----------------------Main Section ------------------------------ */
main {
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr 2fr;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.side-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
}

.side-section ul {
    display: flex;
    flex-direction: column;
}

.side-section li {
    list-style: none;
    padding: 18px;
}

.side-section img {
    width: 30px;
    height: 30px;
    filter: opacity(80%);
}

.side-section img:hover {
    cursor: pointer;
}

.content-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-image {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {

    border-radius: 100%;
    box-shadow:
        0 2px 4px rgba(122, 52, 52, 0.1),
        0 4px 8px rgba(0, 255, 140, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
    transform: rotate(1deg);
    border: none;
    outline: none;
}

.greeting>span:first-child,
.before-name-I {
    font-size: 40px;
    color: var(--first-letters);
}

.description {
    width: 80%;
    margin-top: 2%;
}

.intro {
    font-size: 20px;
}

.name {
    color: var(--primary-blue-color);
    font-weight: 500;
}

.service-tag {
    font-weight: 500;
    color: var(--primary-gold-color);
}

.main-btn a {
    text-decoration: none;
    padding: 18px;
}

.first {
    color: #fff;
}

.second {
    color: #000;
}

.main-btn button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    width: 12rem;
    height: 4rem;
    border: none;
    margin: 1rem 1rem 0 0;
    background-color: var(--primary-blue-color);
    font-size: 1rem;
}

.main-btn button:hover {
    outline: 1px solid red;
    background-color: #fff;
    color: #000;
}

.main-btn button:last-child {
    background-color: #fff;
    outline: 1px solid red;
}

.active a {
    border-bottom: 2px solid var(--primary-gold-color);
}

/* -------------------- Responsive ----------------------------------------- */

@media only screen and (max-width: 1150px) {
    .navigation-container>ul {
        display: none;
    }

    .navigation-container {
        justify-content: space-between;
        margin-right: 20px;
    }

    .menu-container {
        display: block;
        justify-content: space-between;
    }

    main {
        padding: 10px;
    }

    .content-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .profile-image img {
        margin-top: 3rem;
        width: 70%;
        height: 70%;
    }

    .description {
        width: 100%;
    }

    .main-btn button {
        width: 100%;
        height: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        font-weight: 300;
        font-size: medium;
    }

    .side-section {
        border: none;
        margin-top: 24px;
    }

    .side-section ul {
        flex-direction: row;
    }

    .side-section img {
        width: 24px;
        height: 24px;
        filter: opacity(80%);
    }

    .profile-image img {
        width: 50%;
        height: 50%;
    }

    .description {
        font-size: medium;
    }

    .before-name-I {
        font-size: 30px;
    }

    .service-tag {
        font-size: medium;
        font-weight: 500;
    }
    .logo-container img {
        width: 80px;
        height: 80px;
    }
}